/KartRacingAnalyzer/KartRacingAnalyzer.Util/bin/Debug/netcoreapp2.0
/KartRacingAnalyzer/KartRacingAnalyzer.Util/obj
/KartRacingAnalyzer/KartRacingAnalyzer.Model/bin/Debug/netcoreapp2.0
/KartRacingAnalyzer/KartRacingAnalyzer.Model/obj
/KartRacingAnalyzer/KartRacingAnalyzer.Business/bin/Debug
/KartRacingAnalyzer/KartRacingAnalyzer.Business/obj
/KartRacingAnalyzer/.vs/KartRacingAnalyzer
/KartRacingAnalyzer/KartRacingAnalyzer/obj
/KartRacingAnalyzer/KartRacingAnalyzer/bin/Debug/netcoreapp2.0
